---
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Auth">
	<div class="flex h-full w-full items-center justify-center dark:text-white">
		<h1 class="text-3xl">Proximamente...</h1>
	</div>
</Layout>
