---

---

<div id="container" class="h-full w-full">
	<main
		class="m-auto flex h-full w-11/12 flex-col items-center justify-center gap-2 md:gap-4 dark:text-white"
	>
		<h1 class="text-center text-2xl font-semibold text-balance md:text-5xl">
			Organiza tus compras y controla tus gastos al instante
		</h1>
		<p class="w-11/12 p-0.5 text-center text-pretty md:w-7/12 md:text-lg">
			Crea tu lista, anota el precio de cada artículo y guarda tu “ticket” digital con fecha,
			detalles y total. Disfruta de una interfaz limpia, minimalista y sin distracciones.
		</p>
	</main>
</div>
